@font-face{
    font-family: "Mistral";
    src: url(./fonts/Mistral.ttf)
}

*{
    margin: 0px;
    padding: 0px;
}
.head{
    width: 100%;
}


.podhead{
    height: 300px;
    overflow: hidden; 
    position: relative;
}

.icons_background {
    margin: -230px -83px;
    transform: rotate(-5deg);
    width: 120%;
}
.icons {
    width: 84px;
    height: 84px;
    float:left;
    background: url(../images/sprite.png);
}

.facebook{
    background-position: 0px 0px; 
}

.facebook2{
    background-position: 0px -84px; 
}

.facebook3{
    background-position: 0px -168px; 
}

.dots1{
    background-position: -84px 0px;
}
.dots2{
    background-position: -84px -84px;
}

.dots3{
    background-position: -84px -168px;
}

.basket1{
    background-position: -168px 0px;
}

.basket2{
    background-position: -168px -84px;
}

.basket3{
    background-position: -168px -168px;
}

.google-clear{
    background-position: -252px 0px;
}

.google-color{
    background-position: -252px -84px;
}

.google-dark{
    background-position: -252px -168px;
}

.linkedIn-clear{
    background-position: -336px 0px;
}

.linkedIn-color{
    background-position: -336px -84px;
}

.linkedIn-dark{
    background-position: -336px -168px;
}

.pinterest-clear{
    background-position: -420px 0px;
}

.pinterest-color{
    background-position: -420px -84px;
}

.pinterest-dark{
    background-position: -420px -168px;
}

.rss-clear{
    background-position: -504px 0px;
}

.rss-color{
    background-position: -504px -84px;
}

.rss-dark{
    background-position: -504px -168px;
}

.skype-clear{
    background-position: -588px 0px;
}

.skype-color{
    background-position: -588px -84px;
}

.skype-dark{
    background-position: -588px -168px;
}

.twitter-clear{
    background-position: -672px 0px;
}

.twitter-color{
    background-position: -672px -84px;
}

.twitter-dark{
    background-position: -672px -168px;
}

.vine-clear{
    background-position: -756px 0px;
}

.vine-color{
    background-position: -756px -84px;
}

.vine-dark{
    background-position: -756px -168px;
}

.youtube-clear{
    background-position: -840px 0px;
}

.youtube-color{
    background-position: -840px -84px;
}

.youtube-dark{
    background-position: -840px -168px;
}

.animation{
    border-radius: 5px;
    transition: 0.1s all;
    text-shadow: -1.5px -1.5px 0 rgba(0, 0, 0, 0.507);
    text-decoration: none;
    text-align: center;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.548);
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 12px;
}

.animation:hover{
    box-shadow: 3px 3px 10px 0 rgba(0, 255, 221, 0.438);
}
.animation:active{
    box-shadow:inset 2px 2px 10px #000;
    color: rgb(121, 121, 121);
}
    
.pink{
    width: 247px;
    background: linear-gradient(#ff1cac, #a3006a, #ff1cac);
    font: 150% sans-serif;
    padding: 4px;
    color: white; 
}
    
.pink:hover{
    background: linear-gradient(#ff03a4, #ff40bcef, #ff03a4);
}
.pink:active{
    background: linear-gradient(#ff1cac, #550037, #ff1cac);
}

.green{
    max-width: 150px;
    background: linear-gradient(#00ca00, #007200, #00ca00);
    font: 110% sans-serif;
    padding: 4px;
    color: white;
}
.green:hover{
    background: linear-gradient(#00ca00, #00ff00d5, #00ca00);
}

.green:active{
    background: linear-gradient(#00ca00, #004d00, #00ca00);
}

.blue{
    width: 120px;
    background: linear-gradient(#2e54ffd0, #0400ee, #2e54ffd0);
    font: 110% sans-serif;
    padding: 2px;
    color: white;
}

.smallerblue{
    width: 100px;
    padding: 0px;
}

.blue:hover{
    background: linear-gradient(#012ffdc2, #1b17ff, #012ffdc2);
}

.blue:active{
    background: linear-gradient(#002ae7d5, #010057, #002ae7d5);
}



.red{
    width: 120px;
    background: linear-gradient(#ff3939d0, #ff0e0e, #ff3939d0);
    font: 110% sans-serif;
    padding: 2px;
    color: white;
}

.red:hover{
    background: linear-gradient(#ff5656, #ff4242, #ff5656);
}

.red:active{
    background: linear-gradient(#ff3131d0, #5e0000, #ff3131d0);
}


.orange{
    width: 140px;
    background: linear-gradient(#ffc401, #bd9100, #ffc401);
    font: 110% sans-serif;
    padding: 2px;
    color: white;
}

.smaller_orange{
    width: 120px;
    padding: 0px;
}

.orange:hover{
    background: linear-gradient(#ffd139d0, #ffc400, #ffd139d0);
}

.orange:active{
    background: linear-gradient(#daa700d0, #6e5500, #daa700d0);
}

.yellow{
    width: 140px;
    background: linear-gradient(#ffff00, #a7a700, #ffff00);
    font: 110% sans-serif;
    padding: 2px;
    color: white;
}

.smaller_yellow{
    width: 130px;
    padding: 1px;
}

.yellow:hover{
    background: linear-gradient(#ffff00, #ffff01, #ffff00);
}

.yellow:active{
    background: linear-gradient(#ffff00, #585800, #ffff00);
}

.block_button{
    padding: 10px;
}

.section_white{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    height: 150px;
}

.block_button_second{
    padding: 10px;
}

.section_dark{
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
}



.logo{
    padding: 10px;
    left: 37%;
    top: 30%;
    position: absolute;
    background: rgba(255, 255, 255);
    z-index: 1;
    opacity: 0.9;

    
}

.logo2{
    padding: 10px;
    font-size: 60px;
    border: 5px solid black;
    font-family: "Mistral";
}