@font-face {
    font-family: 'SourseSansPro';
    src: url('../fonts/SourceSansPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.ttf');
    font-weight: bold;
}

.vk-page {
    font-size: 18px;
    font-family: 'SourseSansPro', serif;
}


.vk__content-wrapper{
    display: flex;
    width: 100%;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}