@font-face {
    font-family: 'SourseSansPro';
    src: url('../fonts/SourceSansPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.ttf');
    font-weight: bold;
}

.vk-page {
    font-size: 18px;
    font-family: 'SourseSansPro', serif;
}


.vk-first-line {
    width: 100%;
}

.vk__content-wrapper{
    display: flex;
}

.vk-first-line__image {
    background-size: cover;
    background: url("../images/5.jpg") no-repeat center;
    width: 100%;
}

.vk-first-line-inscript{
    font-size: 20px;
    margin: 4% 0 0 25%;
    text-shadow: white 1.5px 1.5px 1px;
    font-weight: 900;
}

.vk-first-line__content-wrapper {
    width: 100%;
}


.vk-first-line__first-line-menu{
    margin: 6% 0 0 4%;
}

.vk-first-line-menu{
    display: flex;
    flex-wrap:wrap;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
}

.vk-first-line-menu__item{
    margin-left: 5%;
    text-decoration: none;
    color: rgba(117, 117, 117, 0.9);
}

.vk-page__words_color-Calico{
    color: rgba(221, 185, 134);
}

.vk-first-line-menu__item:hover{
    color: #d90053;
    transition: 0.2s ease;
}

.vk-first-line-menu__item:active{
    color: #8900ff;
    transition: 0.2s ease;
    
}

.vk-first-line-right-side{
    display: flex;
}

.vk-first-line__content-wrapper{
    width: 100%;
}

.vk-first-line-right-side__position{
    padding: 25% 5% 0 5%;
}

.vk-first-line-right-side__text{
    font-size: 11px;
    text-transform: uppercase
}

.vk-first-line-right-side__text-title{
    color: #33464b;
    margin: 4% 0 4% 0;
}

.vk-first-line__text-right-side_center-text{
    font-size: 2.6em;
}

.vk-first-line-right-side__text_line-height{
    line-height: 2.5em;
}

.vk-first-line-right-side__text_font-weight-bold{
    font-weight: bold;
}

.vk-page__text_color-Boulder{
    color: #757575e6;
}

.vk-first-line-right-side__text_letter-spacing{
    letter-spacing: 2px;
}

.vk-first-line__button{
    background: transparent;
    border: 3px solid black;
    border-radius: 50px;
    padding: 2% 5%;
    margin: 8% 0 8% 0;
    font-size: 70%;
    font-weight: 900;
    font-family: 'fontawesome' sans-serif;
    text-transform: uppercase;
}

.vk-first-line__button:active{

}

.vk-first-line__content-wrapper{
    background-color: rgba(255, 208, 173, 0.38);
}

.vk-second-line-author__sub-text{
    margin-top: 20px;
    margin-bottom: 40px;
}

.vk-second-line {
    display: flex;
}


.vk-second-line-author__block_padding{
    padding: 6% 6% 7% 4%;
}

.vk-second-line-author__author-text{
    font-size: 15px;
    font-weight: 900;
    line-height: 2em;
    
}

.vk-second-line-author{
   background-color: rgba(128, 128, 128, 0.03);
   width: 50%;
}

.vk-second-line-author__sub-text{
    color:rgba(255, 69, 0, 0.86);
}

.vk-second-line-skills{
    display: flex;
    width: 100%;
}

.vk-second-line-skills__image{
    width: 25%;
}

.vk-second-line-skills__image-1{
    background: url("../images/1.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: 50%;
}

.vk-second-line-skills-right-side{
    width: 25%;
    background-color: #f19d00bd;

}


.vk-second-line-skills-right-side__text_padding{
    padding: 15% 15%;
}

.vk-second-line__title-text__font-size{
    font-size: 2.6em;
    font-weight: 900;
}

.vk-second-line-skills-right-side__title-text{
    color: white;
}

.vk-second-line-skills-right-side__sub-text{
    color: white;
    font-size: 15px;
    line-height: 3.5em;
}

.vk-progress-container{

}

.vk-progress-container__progress-range{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vk-progress-container__progress-range-title{
    font-weight: 700;
    color: #233134;
}
.vk-progress-container__progress-range-value{
    font-weight: 700;
}

.vk-progress-container__progress-range-progress-bar{
    background-color: #fff;
    height: 2px;
    width: 100%;
    margin: 5% 0 10% 0;
}

.vk-progress-container__progress-range-backend{
    background-color: #233134;
    height: 100%;
    width: 70%;
}

.vk-progress-container__progress-range-frontend{
    background-color: #233134;
    height: 100%;
    width: 90%;
}

.vk-progress-container__progress-range-web{
    background-color: #233134;
    height: 100%;
    width: 80%;
}

.vk-third-line{
    width: 100%;
    height: 100%;
}

.vk-third-line__block_width{
    width: 25%;
}

.vk-page__text_color-white{
    color:white;
}

.vk-third-line__font_color-black{
    color: rgba(0, 0, 0, 0.699);
}

.vk-third-line__first-yellow-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E4AE58;
}

.vk-page__text_color-Equator{
    background-color: #E3AD58;
}

.vk-third-line-titles_title-size{
    font-size: 1.7em;
    margin: 25px 10% 25px 10%;
    text-align: center;
}

.vk-third-line__first-red-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E9714C;
}

.vk-third-line__first-black-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.vk-third-line__first-white-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
}

.vk-third-line__color-icons{
    color: white;
}

.vk-third-line__text_position{
    text-align: center;
    line-height: 1.5em;
}

.vk-third-line-color-icons_black{
    color: black;
}


.vk-third-line__icons_position{
    margin: 20px 0;
    text-align: center;
}

.vk-third-line__text_margin{
    margin: 0 15% 0 15%;
}

.vk-section-experience-and-education{
    display: flex;
    width: 100%;
}

.vk-section-experience-and-education-image{
    max-height: 50%;
    width: 100%;
}

.vk-section-experience-and-education-image__4s-image{
    background: url("../images/4.jpg");
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.vk-section-experience-and-education-image__3s-image{
    background: url("../images/3.jpg");
    background-size: cover;
    width: 100%;
    height: 50vh;
}


.vk-section-experience-and-education__block-my-experiences{
    width: 100%;
}


.vk-section-experience-and-education__block-my-experiences_margin{
    margin: 5% 0 0 5%;
}

.vk-section-experience-and-education__title{
    font-size: 2.5em;
    margin-bottom: 15px;
}

.vk-section-experience-and-education__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.vk-section-experience-and-education__content-title{
    font-size: 1.4em;
    margin-left: 1em;
}

.vk-section-experience-and-education__content-date{
    font-weight: bold;
    color: #233134;
    margin-top: 5px;
    margin-left: 20px;
    
}

.vk-section-experience-and-education__content-text{
    margin-left: 10%;
    font-size: 0.9em;
}


.vk-section-testimonial{
    width: 100%;
}

.vk-section-testimonial__image{
    background: url("../images/6.jpg");
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-position-y: 20%;
}

.vk-section-testimonial__content{
    
}

.vk-section-testimonial__content_padding-top{
    padding-top: 7%;
}

.vk-section-testimonial__icon{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.vk-section-testimonial__title{
    text-align: center;
    font-size: 2em;
}

.vk-section-testimonial__sub-text{
    margin-top: 3%;
    text-align: center;
    font-size: 80%;
}

.vk-section-contact__block{
    width: 100%;
}

.vk-section-contact{
    width: 100%;    
    max-height: 50%;
}

.vk-section-contact__form{
    width: 100%;
}

.vk-section-contact__form-background_color-Burnt-Sienna{
    background-color: #E9714C;

}

.vk-section-contact__message-form_padding{
    padding: 2% 2% 0 2%;
}

.vk-section-contact__message-form{
    display: flex;
    flex-direction: column;
}

.vk-section-contact__message-form-title{
    font-size: 2.5em;
    line-height: 1.5em;
}

.vk-section-contact__message-form-input{
    background: transparent;
    color: #fafafa;
    border-style: none;
    border-bottom: 1px solid #EBCA98;
    outline: none;
    padding: 0 0 1% 1%;
}

.vk-section-contact__message-form-input_margin-top{
    margin-top: 3%;
}

.vk-section-contact__message-form-input-text-area_margin-top{
    margin-top: 3%;
}

.vk-section-contact__message-form-button{
    width: 50px;
    font-size: 15px;
    background: white;
    border-radius: 22px;
    border-style: none;
    padding: 10px 130px 10px 90px;
    outline: none;
    margin: 2% 0 5% 2%;
}

.vk-section-contact__image{
    background: url("../images/2.jpg") center;
    background-size: cover;
    width: 100%;
}

.vk-section-contact__background_black{
    background-color: black;
    width: 100%;
}

.vk-section-contact-information{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fafafa;
    padding: 12% 0 0 10%;
}

.vk-section-contact__data{

}

.vk-section-contact-information__title{
    font-size: 1.4em;
    margin-bottom: 6%;
}

.vk-section-contact-information__sub-title{
    font-size: 0.7em;
}

.vk-section-contact-information__sub-title_margin-left{
    margin-left: 5%;
}


.vk-section-contact__number-margin-bottom{
    margin-bottom: 5%;
}


.vk-section-contact-information__title_margin-bottom{
    margin-top: 15%;
}

.vk-section-footer{
    width: 100%;
    justify-content: center;
}

.vk-section-footer__content{
    margin: 8% 0;
    text-align: center;
	color: #887e7dea;
}

.vk-section-footer__text_text-decoration-none{
    text-decoration: none;
}

.vk-section-footer__icons{
    display: flex;
	justify-content: center;
	
}

.vk-section-footer__icons_margin{
    margin: 3% 2% 0 2%;
}

.vk-section-footer__link_color{
    color: #9e9391;
	text-decoration: none;
}

.vk-section-footer__link_color:hover{

}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}